<h5>回答確認画面</h5>

<%#= @question.answers.each do |answer| %>

<%= @answer.question %>
<%#= @answer.choice_id %><%= @answer.choice.choice %>
<%= @answer.comment %>

<%# end %>



<%#= form_with(model: [@question, @answer], method: :post) do |f| %>
<%= form_with(model: [@question, @answer], url: question_answers_path(@question), method: :post) do |f| %>

<%= f.hidden_field :comment %>
<%= f.hidden_field :choice_id %>


<%= f.submit "確定する" %>

<% end %>