admin answers show<br>

<%= @question.question %><br>

<%= @choice.choice %><br>

<% @question.answers.each do |answer| %>
<%# @choice.answers.each do |answer| %>
<%= answer.comment %>
<% end %>
<%# end %>

<p><%= @answers.count %>票</p><br>

<!--？-->
<% @answers.each do |answer| %>

<p><%#= answer.count %></p><br>
<%= answer.comment %>


<% end %>