admin answers show<br>

<%= @question.question %><br>

<%= @choice.choice %><br>

<%# @question.answers.each do |answer| %>
<%# @choice.answers.each do |answer| %>
<%#= answer.comment %>
<%# end %>
<%# end %>

<p><%= @answers.count %>票</p><br>

<p>お気に入りに登録したコメント</p>
<% @comments.each do |comment| %>
  <%= comment %>
<% end %>

<!--？-->
<!--<div id="search-result">は指定したアンカーの位置にスクロールされるように、にidを設定している（キーワード検索）-->
<div id="search-result">
<% @answers.each do |answer| %>

<p><%#= answer.count %></p><br>
<%= answer.comment %>

<% if admin_signed_in? %>
  <% if current_admin.favorites.exists?(answer_id: answer.id) %>
    <%= link_to "お気に入り解除", admin_favorite_path(current_admin.favorites.find_by(answer_id: answer.id)), method: :delete, class: "btn btn-warning" %>
  <% else %>
    <%= link_to "お気に入り登録", admin_favorites_path(answer_id: answer.id), method: :post, class: "btn btn-success" %>
  <% end %>
<% end %>

<% end %>
</div>



