admin answers show<br>

<%= @question.question %><br>

<%= @choice.choice %><br>

<%# @question.answers.each do |answer| %>
<%# @choice.answers.each do |answer| %>
<%#= answer.comment %>
<%# end %>
<%# end %>

<p><%= @answers.count %>票</p><br>

<!--？-->
<% @answers.each do |answer| %>

<p><%#= answer.count %></p><br>
<%= answer.comment %>

  <% if answer.bookmarked_by_admin? %>
    <%= link_to 'Remove Bookmark', remove_bookmark_path(answer.id), method: :patch %>
  <% else %>
    <%= link_to 'Bookmark', bookmark_path(answer.id), method: :patch %>
  <% end %>

<% end %>


