<p id="notice"></p>
<div class="container">

  <div class="row">
    <div class="col-md-12">

      <h2><%= current_user.name %>さんの回答履歴</h2>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>質問</th>
            <th>選択肢</th>
            <th>理由</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @answers.each do |answer| %>
          <tr>
          <td><%= answer.question.question %></td>
          <td><%= answer.choice.choice %></td>
          <td><%= answer.comment %></td>

          <td><%= link_to "変更する", edit_question_answers_path(answer.question.id) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>