<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">number two</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <ul class="navbar-nav ml-auto">

          <% if user_signed_in? %>

          <li class="nav-link">
            <%= link_to("/users/sign_out", method: :delete) do %>
            <!--, data: {confirm: "本当にログアウトしますか？"}-->
            <button type="button" class="btn btn-outline-primary">ログアウト</button>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to questions_path do %>
            <button type="button" class="btn btn-outline-primary">質問一覧</button>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to users_my_page_path do %>
            <button type="button" class="btn btn-outline-primary">回答履歴</button>
            <% end %>
          </li>
          </div>

          <% elsif admin_signed_in? %>
          <li class="nav-link">
            <%= link_to "/admin/questions/new" do %>
            <button type="button" class="btn btn-outline-primary">質問作成</button>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to admin_admin_path do %>
            <button type="button" class="btn btn-outline-primary">作成済質問</button>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to new_admin_choice_path do %>
            <button type="button" class="btn btn-outline-primary">選択肢作成</button>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to admin_choices_path do %>
            <button type="button" class="btn btn-outline-primary">作成済選択肢</button>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to "/admin/sign_out", method: :delete, data: {confirm: "本当にログアウトしますか？"} do %>
            <button type="button" class="btn btn-outline-primary">ログアウト</button>
            <% end %>
          </li>

          <%= render 'searches/search' %>



          <% else %>
          <li class="nav-link">
            <%= link_to "/users/sign_up" do %>
            <button type="button" class="btn btn-outline-primary">新規登録</button>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to "/users/sign_in" do %>
            <button type="button" class="btn btn-outline-primary">ログイン</button>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to users_guest_sign_in_path, method: :post do %>
            <button type="button" class="btn btn-outline-primary">ゲストログイン</button>
            <% end %>
          </li>
          <li class="nav-link">
            <%= link_to new_admin_session_path do %>
            <button type="button" class="btn btn-outline-primary">管理者（仮表示）</button>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  </nav>
</header>

