<header>
  <div class="header-logo">
    number two
  </div>


  <ul>
    <% if user_signed_in? %>
    <li>
      <%= link_to("ログアウト", "/users/sign_out", method: :delete, data: {confirm: "本当にログアウトしますか？"}) %>
    </li>
    <li>
      <%= link_to "質問一覧", questions_path %>
    </li>
    <li>
      <%= link_to "回答履歴", users_my_page_path %>
    </li>

    <% elsif admin_signed_in? %>
    <li>
      <%= link_to("質問作成", "/admin/questions/new") %>
    </li>
    <li>
      <%= link_to "作成済質問", admin_admin_path %>
    </li>
    <li>
      <%= link_to "選択肢作成", new_admin_choice_path %>
    </li>
    <li>
      <%= link_to "作成済選択肢", admin_choices_path %>
    </li>
    <li>
      <%= link_to("ログアウト", "/admin/sign_out", method: :delete, data: {confirm: "本当にログアウトしますか？"}) %>
    </li>

    



    <% else %>
    <li>
      <%= link_to("新規登録", "/users/sign_up") %>
    </li>
    <li>
      <%= link_to("ログイン", "/users/sign_in") %>
    </li>
    <li>
      <%#= link_to 'ゲストログイン', guest_user_session_path %>
      <%#= link_to("ゲストログイン", "/guests/sign_in") %>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
    </li>
    <li>
      <%= link_to '管理者', new_admin_session_path %>
    </li>
    <% end %>
  </ul>
</header>

