<!DOCTYPE html>
<html>
  <head>
    <title>NumberTwo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <!--キーワード検索機能-->
    <%= render 'searches/search' %>

    <p><%= notice %></p>
    <p><%= alert %></p>
    <%= yield %>
  </body>
</html>
